<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список клиентов</title>
<!--    <link rel="stylesheet" type="text/css" href="style.css">-->
</head>

<body>
<form th:action="@{/clients/{id}(id=${client.id})}" th:object="${client}" th:method="post">
    <div>
        <label>ID</label>
        <input type="text" value="" name="email" th:field="${client.id}"/>
    </div>
    <div>
        <label>Name</label>
        <input type="text" value="" name="phone" th:field="${client.name}"/>
    </div>
    <div>
        <label>Email</label>
        <input type="text" value="" name="email" th:field="${client.email}"/>
    </div>
    <div>
        <label>Phone</label>
        <input type="text" value="" name="phone" th:field="${client.phone}"/>
    </div>
    <div>
        <label>Пол</label>
        <input type="text" value="" name="phone" th:field="${client.gender}"/>
    </div>
    <div>
        <button type="submit">Обновить информацию</button>
    </div>


</form>

<table style="border:1px solid grey">
    <thead>
    <tr>
        <th  style="border:1px solid grey">ID</th>
        <th  style="border:1px solid grey">Имя клиента</th>
        <th  style="border:1px solid grey">Почта</th>
        <th  style="border:1px solid grey">Пол</th>
        <th  style="border:1px solid grey">Телефон</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td  style="border:1px solid grey" th:text="${client.id}"></td>
        <td  style="border:1px solid grey" th:text="${client.name}"></td>
        <td  style="border:1px solid grey" th:text="${client.email}"></td>
        <td  style="border:1px solid grey" th:text="${client.gender}"></td>
        <td  style="border:1px solid grey" th:text="${client.phone}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>